# Secrets - DO NOT COMMIT
k8s-monitoring/email-secret.yaml
k8s-monitoring/alertmanager-config.yaml
**/email-secret.yaml
*.secret.yaml
signing/*.key
signing/*.key.bak
.tmp-pynacl/
docs/lab-2.2/evidence/*.zip
docs/lab-2.2/evidence/ci-log/
docs/lab-2.2/evidence/ci-success-log/

# IDE
.vscode/
.idea/

# OS
.DS_Store
